#projects {
    overflow: hidden;
}

.projects-container {
    width: 95vw;
    padding: 20px;
    background-color: transparent;
  }
  
  .title-wrapper {
    margin-bottom: 20px;
  }
  
  .title {
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 0.2rem;
    color: #333;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
  }
  
  .project-container-card-wrapper {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem;
    gap: 1rem; 
  }
  