#skills {
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skills-title {
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 0.2rem;
    margin-top: -5%;
    color: #E8EAE3;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    background-color: transparent;
}


.skills-content-wrapper {
    height: 60vh;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.button-wrapper {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2rem;
}

.button-wrapper button {
    padding: 1rem 2rem;
    border: 4px solid #E8EAE3;  
    background-color: transparent;
    color: #E8EAE3;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
    position: relative; 
    overflow: hidden;  
    transition: all 0.3s ease;
    margin-bottom: 20px; 
}

.button-wrapper button:last-child {
    margin-bottom: 0; 
}

.button-wrapper button::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #E8EAE3;
    transition: width .65s;
    z-index: 0;
    z-index: -1;
}

.button-wrapper button:hover {
    color: #DD4949;
}

.button-wrapper button:hover::after {
    width: 100%;
}

.icon-wrapper {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.skill-icon-title-wrapper {
    width: 100%;
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -40px;
}

.skill-title-h2 {
    font-size: 2rem;
    color: #E8EAE3;
    font-weight:600;
    font-family: 'Montserrat', sans-serif;
}

.skill-icon-list {
    width: 100%;
    height: 65%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
}

.single-skill-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}

.skill-icon {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill-name {
    margin-top: 1rem;
    font-size: 1rem;
    color: #E8EAE3;
    font-weight:600;
    font-family: 'Montserrat', sans-serif;
}

